<a href="https://colab.research.google.com/github/nitinbehara09/Mainflow-Internship/blob/main/WEEK_1_SumInt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Week 1 - Internship**

In [ ]:
# Creation of a LIST
list = [1,2,3,4,5,6,7]
print(list)

# Adding an element
print(list)

# Removing an element
list.remove(2)
print(list)

# Modifying an elemnt
list[1] = 21

print("Updated List: ",list)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 3, 4, 5, 6, 7]
Updated List:  [1, 21, 4, 5, 6, 7]

In [ ]:
# Creation of DICTIONARY
dict = {'name': 'Nitin','age':25,'City':'Goa'}
print(dict)

# Adding
dict ['gender'] = 'Male'
print(dict)

# Removing
del dict['City']
print(dict)

# Modifying
dict['age'] = 20

print("Updated Dictionary:",dict)

{'name': 'Nitin', 'age': 25, 'City': 'Goa'}
{'name': 'Nitin', 'age': 25, 'City': 'Goa', 'gender': 'Male'}
{'name': 'Nitin', 'age': 25, 'gender': 'Male'}
Updated Dictionary: {'name': 'Nitin', 'age': 20, 'gender': 'Male'}

In [ ]:
# Creation of SET
set = {1,2,3,4,5,6,7}
print(set)

# Adding
set.add(9)
print(set)

# Removing
set.remove(3)
print(set)

# Modifying
set.discard(2)
set.add(11)

print("Updated Set:",set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2, 4, 5, 6, 7, 9}
Updated Set: {1, 4, 5, 6, 7, 9, 11}