<a href="https://colab.research.google.com/github/nitinbehara09/Mainflow-Internship/blob/main/WEEK_1_SumInt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Week 1 - Internship**

In [ ]:
# Creation of a LIST
list = [1,2,3,4,5,6,7]

# Adding an element
list.append(9)

# Removing an element
list.remove(2)

# Modifying an elemnt
list[1] = 21

print("Updated List: ",list)

Updated List:  [1, 21, 4, 5, 6, 7, 9]

In [ ]:
# Creation of DICTIONARY
dict = {'name': 'Nitin','age':25,'City':'Goa'}

# Adding
dict ['gender'] = 'Male'

# Removing
del dict['City']

# Modifying
dict['age'] = 20

print("Updated Dictionary:",dict)

Updated Dictionary: {'name': 'Nitin', 'age': 20, 'gender': 'Male'}

In [ ]:
# Creation of SET
set = {1,2,3,4,5,6,7}

# Adding
set.add(9)

# Removing
set.remove(3)

# Modifying
set.discard(2)
set.add(11)

print("Updated Set:",set)

Updated Set: {1, 4, 5, 6, 7, 9, 11}